 /* *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
 }
  */
 h1 {
     font-family: 'Georgia', serif;
     font-size: 28px;
     font-weight: bold;
     color: darkblue;
     text-transform: capitalize;
 }

 h2 {
     font-family: Arial sans-serif;
     font-size: 28px;
     font-weight: bold;
     font-variant: small-caps; 
     color: red;
     text-transform: capitalize;
     
    }
    
    .p1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 28px;
        font-style: italic;
        color: green;
        text-align: left;
        text-indent:40px;
        line-height: 2.0; 
 }

 .p2 {
     font-family: 'Lucida Sans', sans-serif;
     font-style: normal;
     font-size: 28px;
     color: yellow;
     text-align: center;
     text-transform: uppercase;
 }

 .p3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: normal;
    color: purple;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 6px;
 }