*{
    background-color: lightcoral;
}
.card{
    background-color: white;
    border: 1px solid;
    padding: 10px;
    width: 240px;
    border-radius: 15px;
  box-shadow : -10px -10px 10px white;
    text-align: center;
    margin: 12% auto;
    
}
hr{
    color:lightcoral ;
}
.card div p{
    background-color: white;
}

h1{
    background-color: white;
    text-align:left  ;
}
.buton{
    background-color: lightcoral;
    border: 1px solid;
    margin: 5% auto;
    width: 90px;
}
.buton b{
    background-color: lightcoral;

}