*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#2B2B2B;
    color:#fff;
    font-family:"Space Grotesk", sans-serif;
}

.page-border{
    width:100%;
    height:6px;
    background:#A259FF;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 45px;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-text{
    font-size:20px;
    font-weight:700;
}

.nav a{
    text-decoration:none;
    color:white;
    margin:0 18px;
    font-size:15px;
}

.signup-btn{
    padding:11px 22px;
    border:none;
    background:#A259FF;
    color:white;
    border-radius:20px;
    font-weight:600;
    cursor:pointer;
}

.hero{
    display:flex;
    justify-content:space-between;
    padding:60px 45px;
    margin-left: 8%;
}

.hero-left h1{
    font-size:55px;
    font-weight:700;
    line-height:1.1;
    margin-bottom:22px;
}

.subtext{
    width:400px;
    line-height:1.5;
    color:#CFCFCF;
    font-size:17px;
    margin-bottom:30px;
}

.get-btn{
    padding:14px 28px;
    border:none;
    border-radius:22px;
    background:#A259FF;
    color:white;
    font-weight:600;
    cursor:pointer;
    margin-bottom:35px;
}

.stats{
    display:flex;
    gap:50px;
    margin-top:10px;
}

.stats h2{
    font-size:28px;
    font-weight:700;
}

.stats p{
    font-size:14px;
    color:#BEBEBE;
}

.hero-card{
    background:#3B3B3B;
    padding: 20px;
    width: 400px;
    margin-right: 20%;
    border-radius:18px;
}

.hero-img{
    width:100%;
    border-radius:15px;
    
}

.card-info{
    padding-top:12px;
}

.card-info h3{
    font-size:22px;
    font-weight:600;
}

.artist{
    color:#b3b3b3;
    font-size:14px;
}
.trending {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
}

.section-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #ccc;
    margin-bottom: 40px;
}

.trending-grid {
    display: flex;
    justify-content: center;
    gap: 40px; 
    /* flex-wrap: wrap; */
}

.trend-item {
    width: 32%;
}

.trend-main-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.trend-thumbs {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.trend-thumbs img {
    width: 90px;
    border-radius: 15px;
}

.count-box {
    width: 90px;
    height: 90px;
    background: #a259ff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.trend-item h3 {
    margin: 5px 0;
    font-size: 20px;
}

.artist {
    font-size: 14px;
    color: #ccc;
}
.top-creators {
    width: 100%;
    margin-top: 80px;
    padding: 40px 0;
    background: #141416;
    color: #fff;
}

.top-creators .section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.top-creators .section-subtitle {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.view-rankings {
    float: right;
    margin-top: -55px;
    padding: 10px 22px;
    background: transparent;
    border: 1px solid #5c3bfe;
    border-radius: 14px;
    color: #c8b7ff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.view-rankings:hover {
    background: #5c3bfe;
    color: #fff;
}

.creators-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.creator-card {
    background: #212225;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    position: relative;
    transition: .2s;
}

.creator-card:hover {
    transform: translateY(-4px);
    background: #26272b;
}

.rank {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #141416;
    color: #fff;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.creator-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.creator-name {
    font-size: 18px;
    font-weight: 500;
}

.sales {
    margin-top: 5px;
    opacity: 0.7;
    font-size: 14px;
}
.browse-categories {
    margin-top: 80px;
    color: #fff;
}

.browse-categories .section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.cat-card {
    position: relative;
    height: 220px;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
    transition: .25s;
}

.cat-card:hover {
    transform: translateY(-5px);
    background: #2a2b2e;
}

.cat-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(0px) brightness(0.85);
    transition: .25s;
}

.cat-card:hover .cat-bg {
    filter: brightness(1);
}

.cat-icon {
    position: absolute;
    top: 22px;
    width: 240px;
    height: 240px;
    gap: 10px;
    left: 22px;
}

.cat-icon img {
    width: 240px;
    opacity: 0.95;
}

.cat-card h3 {
    position: absolute;
    bottom: 15px;
    left: 22px;
    font-size: 18px;
    font-weight: 500;
}
discover-nfts {
    margin-top: 80px;
    color: #fff;
}

.discover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.discover-header h2 {
    font-size: 32px;
}

.discover-header p {
    color: #bbb;
    margin-left: 10px;
}

.see-all-btn {
    border: 1px solid #7e3af2;
    background: transparent;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.nft-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.nft-card {
    background: #212121;
    padding: 20px;
    border-radius: 16px;
    transition: .2s;
}

.nft-card:hover {
    transform: translateY(-5px);
}

.nft-img {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
}

.nft-user {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #ccc;
}

.nft-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.label {
    color: #888;
    font-size: 14px;
}

.value {
    font-weight: bold;
}
* {
    box-sizing: border-box;
}

.discover-nfts {
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.discover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.discover-header h2 {
    font-size: 32px;
    font-weight: 700;
}

.discover-header p {
    font-size: 16px;
    color: #bbb;
}

.see-all-btn {
    padding: 12px 25px;
    background: linear-gradient(90deg, #7a3bff, #ba3bff);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}

.see-all-btn:hover {
    opacity: 0.85;
}


.nft-grid {
    /* display: flex; */
    grid-template-columns: repeat(4, 1fr);
    /* gap: 25px; */
    display: flex;
    justify-content: center;
}


.nft-card {
    background: #151523;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.nft-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(129, 0, 255, 0.5);
    border-color: #7a3bff;
}

.nft-card .nft-imgg{
    height: 610px;
     background: #151523;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.nft-img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    margin-bottom: 20px;
}


.nft-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}


.nft-user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-icon {
    width: 34px;
    height: 34px;
    background: linear-gradient(90deg, #7a3bff, #ba3bff);
    border-radius: 50%;
    margin-right: 10px;
}


.nft-info {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 13px;
    color: #aaa;
}

.value {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

.how-it-works {
    text-align: center;
    padding: 60px 20px;
}

.how-it-works h1 {
    font-size: 42px;
    font-weight: 800;
}

.subtitle {
    margin-top: 5px;
    color: #ccc;
    font-size: 18px;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: 290px;
    background: #1a1a1a;
    padding: 30px 25px;
    border-radius: 18px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #333;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #6c42ff;
    box-shadow: 0 0 20px rgba(108, 66, 255, 0.4);
}

.icon-circle {
    width: 110px;
    height: 110px;
    background: radial-gradient(circle, #7b3dff, #4d1ac4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-circle img {
    width: 132px;
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card p {
    color: #bbb;
    font-size: 15px;
    line-height: 1.5;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    justify-content: center;
    padding: 60px 20px;
}
.digest-box {
    width: 950px;
    background: #1a1a1a;
    border-radius: 20px;
    border: 1px solid rgba(145, 99, 255, 0.4);
    display: flex;
    padding: 40px;
    gap: 40px;
    color: #fff;
    align-items: center;
}
.digest-image img {
    width: 330px;
    height: auto;
    border-radius: 18px;
}
.digest-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
digest-content p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 25px;
    line-height: 1.6;
}

.form-box {
    background: #2a2a2a;
    padding: 12px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 420px;
}
.form-box input {
    flex: 1;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.form-box button {
    background: #893bff;
    border: none;
    padding: 12px 25px;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.form-box button:hover {
    background: #7a2fff;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto 20px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px dashed rgba(145, 99, 255, 0.4);
    border-radius: 15px;
    gap: 30px;
}

.footer-col {
    flex: 1;
}

.logo {
    font-size: 26px;
    margin-bottom: 15px;
}

.desc {
    color: #ccc;
    margin-bottom: 15px;
    line-height: 1.5;
}

.community {
    font-size: 16px;
    margin: 10px 0;
}

.social-icons span {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-col h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 10px 0;
    color: #ccc;
    cursor: pointer;
}

.digest-text {
    color: #ccc;
    margin: 10px 0 20px;
    line-height: 1.5;
}

.footer-form {
    display: flex;
    background: #2a2a2a;
    padding: 8px;
    border-radius: 40px;
    width: 350px;
}

.footer-form input {
    flex: 1;
    padding: 12px;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
}

.footer-form button {
    background: #893bff;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding-bottom: 20px;
}