body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1b1e;
  color: #bfc9ca;
}

.header {
  background-color: #1e2a2e;
  text-align: center;
  padding: 30px 0;
  color: #e0e6e8;
  background-size: cover;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.header p {
  margin-top: 5px;
  font-size: 14px;
}

.navbar {
  background-color: #2c2f33;
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 40px;
}

.navbar li {
  position: relative;
}

.navbar li:not(:last-child)::after {
  content: "|";
  color: #2d2d2d;
  position: absolute;
  right: -20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #fff;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 25%;
  padding-right: 20px;
}

.sidebar h3 {
  border-bottom: 1px solid #282828;
  padding-bottom: 5px;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #9aa5a7;
}

.sidebar ul li a:hover {
  color: #fff;
}

.block {
  margin-top: 20px;
  background-color: #192225;
  padding: 10px;
  border-radius: 5px;
}

.content {
  width: 75%;
}

.gallery {
  border-bottom: 1px solid #222222;
  padding-bottom: 10px;
}

.gallery h2 {
  color: #fff;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.box {
  background-color: #182224;
  padding: 20px;
  flex: 1;
  border-radius: 5px;
}

.box h2 {
  color: #fff;
}

button {
  background-color: #0080ff;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #113c59;
}