* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box span {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

#big {
    background-image: url(acsses/image/big.jpeg);
    background-attachment: fixed;
}

#folder {
    background-image: url(acsses/image/folder-img.jpeg);
}

#small {
    background-image: url(acsses/image/code.png);
    background-attachment: fixed;
}

#gradient {
    background-image: linear-gradient(to bottom right,
            orange,
            green,
            yellow,
            blue,
            red);
}